@theme {
  /* Мобільні та планшети зазвичай стандартні (можна не міняти) */
  --breakpoint-sm: 40rem; /* 640px */
  --breakpoint-md: 48rem; /* 768px */

  /* LG — це початок десктопу (зазвичай 1024px) */
  --breakpoint-lg: 64rem;

  --breakpoint-xl: 80rem; /* 1280px */

  --breakpoint-2xl: 98rem; /* px */
}
