.content-wrapper > :where(:not(.alignfull):not(.container):not(.alignwide)) {
  max-width: var(--wp--style--global--content-size);
  width: 100%;
  position: relative;
  margin-inline: auto;
  padding-inline: 2rem;
}

.content-wrapper > :where(.alignleft) {
  display: flex;
  justify-self: flex-start;
  margin: 0;
}

.content-wrapper > :where(.alignright) {
  display: flex;
  justify-self: flex-end;
  margin: 0;
}

.section-block {
  position: relative;
  padding-bottom: 35px;

  @media (min-width: 768px) {
    padding-bottom: 70px;
  }
}

.section-block:first-of-type > [data-block-wrapper] {
  padding-top: 35px;

  @media (min-width: 768px) {
    padding-top: 70px;
  }
}

.acf-innerblocks-container {
  all: unset; /* або інші стилі, які скидають padding/margin/display */
  display: contents; /* щоб div не впливав на grid/flex layout */
}
