{# Скрытый блок для Tailwind v4 (никогда не рендерится) #}
{% if false %}
    <div class="
        text-white bg-transparent
        {# Солид фоны #}
        bg-primary bg-secondary bg-accent bg-warning bg-success bg-error alignwide alignfull
        {# Ховеры #}
        hover:bg-primary-dark hover:bg-secondary-dark hover:bg-accent-dark hover:bg-warning-dark hover:bg-success-dark hover:bg-error-dark
        {# Тексты и границы #}
        text-primary text-secondary text-accent text-warning text-success text-error
        border-primary border-secondary border-accent border-warning border-success border-error
        {# Интерактив #}
        hover:bg-primary/10 hover:bg-secondary/10 hover:bg-accent/10 hover:bg-warning/10 hover:bg-success/10 hover:bg-error/10
        focus-visible:ring-primary focus-visible:ring-secondary focus-visible:ring-accent focus-visible:ring-warning focus-visible:ring-success focus-visible:ring-error"></div>
{% endif %}
