<section id="{{ context.id }}" class="{{ classes }} container container--{{context.container_size}} px-6 py-6">
	<div class="flex flex-col space-y-0" data-block-wrapper>
		<InnerBlocks/>
	</div>
</section>
