
.content-wrapper > :where(:not(.alignfull):not(.container):not(.alignwide)) {
  max-width: var(--wp--style--global--content-size);
  width: 100%;
  position: relative;
  margin-inline: auto;
  padding-inline: 2rem;
}

.content-wrapper > :where(.alignleft) {
  display: flex;
  justify-self: flex-start;
  margin: 0;
}

.content-wrapper > :where(.alignright) {
  display: flex;
  justify-self: flex-end;
  margin: 0;
}
