{% set intent  = intent  | default('primary') %}
{% set variant = variant | default('solid') %}
{% set size    = size    | default('md') %}

<button
  class="{{ [
    'ui-btn',
    'ui-btn--' ~ intent,
    'ui-btn--' ~ variant,
    'ui-btn--' ~ size,
    disabled ? 'ui-btn--disabled' : '',
    class | default('')
  ] | cx }}"
  {{ attrs|raw }}
>
  <span class="ui-btn__label leading-none">
    {{ label | default('Button') }}
  </span>

  {% if icon_after %}
    <span class="ui-btn__icon" aria-hidden="true">
      {{ icon_after | raw }}
    </span>
  {% endif %}
</button>